<!-- Image and text -->
<nav class="navbar navbar-light page-header">
  <a class="navbar-brand" href="#">
    <img class="img-header" src="https://cdn4.iconfinder.com/data/icons/coffee-mug-emoji-in-different-expressions/200/MUG4-512.png" class="d-inline-block align-top" alt="">
    <strong>Coffee Point of Sale Application</strong>
      <nav class="nav-item active">
        <a class="nav-link" href="#">Checkout</a>
      </nav>
  </a>
</nav>