<!-- Image and text -->
<nav class="navbar navbar-light page-header">
  <a href="/">
    <img class="img-header" src="https://freeiconshop.com/wp-content/uploads/edd/coffee-takeaway-flat.png" class="d-inline-block align-top" alt="">
  </a> 
  <a class="navbar-brand" href="/">
      <strong>evans</strong><strong class="title">Coffee</strong>
      <nav class="nav-item active"></nav>
        <a class="nav-link checkout-btn" href="/checkout/"><strong>Checkout</strong><br><strong>In Cart: {{session.order.totalQty}}</strong></a>
      </nav>
  </a>
</nav>