.card
  max-width: 200px;
  &:hover
    opacity: .8;
  margin: 40px;
  @media screen and (max-width: 425px)
    max-width: 325px;
    float: none;
.center
  text-align: center;
form
  display: inline-block;
input
  margin: 20px;
  font-size: 30px;
  border-radius: 1em;
  border: none;
  text-align: center;
  &:focus
    outline: none;
  &.green
    background-color: #5ef94d;
body
  background: #c3e1f4;
  text-align: center;
.img-header
  width: 75px;
  height: 75px;
  margin: 0px 0px 0px 0px;
.page-header
  background: #1f94e2;
.left
  width: 70%;
  float: left;
.cart
  float: left;
strong
  color: #ffffff;
.checkout-btn
  background-color: #5ef94d;
  text-color: #000000;
.name
  font-size: 30px;
  strong
    color: #ffffff;