.card
  max-width: 200px;
  &:hover
    opacity: .8;
  margin: 20px;
.center
  text-align: center;
body
  background: #737373;
.img-header
  width: 75px;
  height: 75px;
  margin: 0px 0px 0px 0px;
.page-header
  background: #bfbfbf;
.left
  width: 70%;
  float: left;
.cart
  float: left;
strong
  color: #ffffff;