<img class="circular margin-40" src="https://media.licdn.com/dms/image/C5603AQH2Uo-qB-yJnA/profile-displayphoto-shrink_200_200/0?e=1537401600&v=beta&t=QjlRtc4JDUAxt7phCwZ9QIQVpCczvrSfB3tXwi5gQ_w">
<br>
<div class="text-white">Evan Almeida</div>
<br>
<a href="https://www.linkedin.com/in/evan-almeida-8ab879130/"><img class="img-header" src="https://findicons.com/files/icons/2825/terslik1_social/512/linkedin.png"></a>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>